
.navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  #btn{
    background-color: #f4511e;
    border: none;
  }
  #btn:hover{
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  } 

footer.bg
{
  background-color: #F2F2F2;
  text-align: center; 
 
}

#novidades
{
  padding-top: 20px;
  text-align: center;
  
}

.jeito
{
  height: 200px;
}