body{
  background-color: white;
}
*
{
  margin: 0px;
  padding: 0px;
  box-sizing; border-box;
}

.navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand, .navbar .navbar-collapse li{
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }

#novidades
{
  padding-top: 20px;
  text-align: center;
}

.jeito
{
  height: 200px;
}
.panel {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
}
.panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
}
.rodape
{
  background-color: #E6E6E6;
}
