body{
  background-color: white;
}
*
{
  margin: 0px;
  padding: 0px;
  box-sizing; border-box;
}

.navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand, .navbar .navbar-collapse li{
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }

.rodape
{
  background-color: #F2F2F2;
}

#textb
{
  padding-right: 200px;
}

#grupo2
{
  width: 618px;
}
